<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <div>
        <label for="name">PayeeName:</label>
        <input id="name" (input)="onNameChange($event.target.value)" />
      </div>
    </div>
    <div class="col">
      <label><b></b>Name</label>
      <div>
        {{name |  titlecase}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <div>
        <label for="name">Payment Date:</label>
        <input type="date" id="name" (input)="onDateChange($event.target.value)" />
      </div>
    </div>
    <div class="col">
      <label><b></b>Payment Date:</label>
      <div>
        {{date|date: 'MMMM d,y'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <div>
        <label for="name">Payee Amount:</label>
        <input id="name" (input)="onAmountChange($event.target.value)" />
      </div>
    </div>
    <div class="col">
      <label><b></b>Amount:</label>
      <div>
        {{amount|currency: 'INR' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <div>
        <label for="name">Decimal</label>
        <input id="name" (input)="onDecimalChange($event.target.value)" />
      </div>
    </div>
    <div class="col">
      <label><b></b>Decimal:</label>
      <div>
        {{decimal | number: '2.0-2'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <div>
        <label for="name">Miles:</label>
        <input id="name" (input)="onMilesChange($event.target.value)" />
      </div>
    </div>
    <div class="col">
      <label><b></b>Kilometers:</label>
      <div>
        {{miles | convert : 'cm'}}
      </div>
    </div>
  </div>
</div>